.main-nav {
    height: 70px;
    color: #FFF;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-logo-text {
    color: #FFF;
}

.main-menu {
    display: flex;
    font-size: 18px;
    justify-content: center;

    li:nth-child(2) {
        margin-left: 85px;
        margin-right: 85px;
    }

    a {
        font-style: normal;
        color: rgba(255, 255, 255, 0.5);

        &.active {
            font-weight: bold;
            color: #FFF;
        }

        &:hover {
            color: #FFF;
        }
    }
}